In [2]:
import pandas as pd
import pyodbc

In [11]:
# Clean Data Load
csv_file = "data/electronics.csv"
df = pd.read_csv(csv_file)
print(f"Data Loaded: {len(df)} rows from {csv_file}")
print(df.columns)

# ====================================
# CLEAN NUMERIC COLUMNS BEFORE SQL
# ====================================
df['Price'] = pd.to_numeric(df['Price'], errors='coerce')
df['Rating'] = pd.to_numeric(df['Rating'], errors='coerce')
df['Reviews'] = pd.to_numeric(df['Reviews'], errors='coerce')

df[['Price','Rating','Reviews']] = df[['Price','Rating','Reviews']].fillna(0)
# ====================================

server_name = 'DELL-10TH'
database_name = 'Banggood'

conn_str = (
    f'DRIVER={{SQL Server}};'
    f'SERVER={server_name};'
    f'DATABASE={database_name};'
    f'Trusted_Connection=yes;'
)

try:
    conn = pyodbc.connect(conn_str)
    cursor = conn.cursor()
    print("Successfully Connected to SQL Server!")

    cursor.execute("""
        IF OBJECT_ID('electronics', 'U') IS NOT NULL
            DROP TABLE electronics;

        CREATE TABLE electronics (
            ID INT IDENTITY(1,1) PRIMARY KEY,
            Category NVARCHAR(100),
            Name NVARCHAR(MAX),
            Price FLOAT,
            Rating FLOAT,
            Reviews INT,
            URL NVARCHAR(MAX),
            Loaded_Date DATETIME DEFAULT GETDATE()
        );
    """)
    conn.commit()

    print("Table 'electronics' Created Successfully.")
    print(f"Inserting {len(df)} rows... Please wait.")

    for index, row in df.iterrows():
        cursor.execute("""
            INSERT INTO electronics (Category, Name, Price, Rating, Reviews, URL)
            VALUES (?, ?, ?, ?, ?, ?)
        """,
            row['Category'],
            row['Name'],
            float(row['Price']),
            float(row['Rating']),
            int(row['Reviews']),
            row['URL']
        )

    conn.commit()
    print("Data Dump Complete!")

    cursor.execute("SELECT COUNT(*) FROM electronics")
    count = cursor.fetchone()[0]
    print(f"Total Rows in SQL Table 'electronics': {count}")

except Exception as e:
    print(f"Error: {e}")
    print("Tip: Make sure Database 'Banggood' exists in SSMS.")

finally:
    if 'conn' in locals():
        conn.close()

Data Loaded: 40 rows from data/electronics.csv
Index(['Category', 'Name', 'Price', 'Rating', 'Reviews', 'URL'], dtype='object')
Successfully Connected to SQL Server!
Table 'electronics' Created Successfully.
Inserting 40 rows... Please wait.
Data Dump Complete!
Total Rows in SQL Table 'electronics': 40

In [18]:
# Clean Data Load
csv_file = "data/automobiles_motorcycles.csv"
df = pd.read_csv(csv_file)
print(f"Data Loaded: {len(df)} rows from {csv_file}")
print(df.columns)

# ====================================
# CLEAN NUMERIC COLUMNS BEFORE SQL
# ====================================
df['Price'] = pd.to_numeric(df['Price'], errors='coerce')
df['Reviews'] = pd.to_numeric(df['Reviews'], errors='coerce')

df[['Price','Reviews']] = df[['Price','Reviews']].fillna(0)
# ====================================

server_name = 'DELL-10TH'
database_name = 'Banggood'

conn_str = (
    f'DRIVER={{SQL Server}};'
    f'SERVER={server_name};'
    f'DATABASE={database_name};'
    f'Trusted_Connection=yes;'
)

try:
    conn = pyodbc.connect(conn_str)
    cursor = conn.cursor()
    print("Successfully Connected to SQL Server!")

    cursor.execute("""
        IF OBJECT_ID('automobiles_motorcycles', 'U') IS NOT NULL
            DROP TABLE automobiles_motorcycles;

        CREATE TABLE automobiles_motorcycles (
            Name NVARCHAR(MAX),
            Price FLOAT,
            Reviews INT,
            URL NVARCHAR(MAX),
            Price_Segment NVARCHAR(50),
            Est_Revenue FLOAT,
            Loaded_Date DATETIME DEFAULT GETDATE()
        );
    """)
    conn.commit()

    print("Table 'automobiles_motorcycles' Created Successfully.")
    print(f"Inserting {len(df)} rows... Please wait.")

    for index, row in df.iterrows():
        cursor.execute("""
            INSERT INTO automobiles_motorcycles (Name, Price, Reviews, URL, Price_Segment, Est_Revenue)
            VALUES (?, ?, ?, ?, ?, ?)
        """,
            row['Name'],
            float(row['Price']),
            int(row['Reviews']),
            row['URL'],
            row['Price_Segment'],
            float(row['Est_Revenue'])
        )

    conn.commit()
    print("Data Dump Complete!")

    cursor.execute("SELECT COUNT(*) FROM automobiles_motorcycles")
    count = cursor.fetchone()[0]
    print(f"Total Rows in SQL Table 'automobiles_motorcycles': {count}")

except Exception as e:
    print(f"Error: {e}")
    print("Tip: Make sure Database 'Banggood' exists in SSMS.")

finally:
    if 'conn' in locals():
        conn.close()

Data Loaded: 40 rows from data/automobiles_motorcycles.csv
Index(['Name', 'Price', 'Reviews', 'URL', 'Price_Segment', 'Est_Revenue'], dtype='object')
Successfully Connected to SQL Server!
Table 'automobiles_motorcycles' Created Successfully.
Inserting 40 rows... Please wait.
Data Dump Complete!
Total Rows in SQL Table 'automobiles_motorcycles': 40

In [19]:
# Clean Data Load
csv_file = "data/computers_office.csv"
df = pd.read_csv(csv_file)
print(f"Data Loaded: {len(df)} rows from {csv_file}")
print(df.columns)

# ====================================
# CLEAN NUMERIC COLUMNS BEFORE SQL
# ====================================
df['Price'] = pd.to_numeric(df['Price'], errors='coerce')
df['Reviews'] = pd.to_numeric(df['Reviews'], errors='coerce')

df[['Price','Reviews']] = df[['Price','Reviews']].fillna(0)
# ====================================

server_name = 'DELL-10TH'
database_name = 'Banggood'

conn_str = (
    f'DRIVER={{SQL Server}};'
    f'SERVER={server_name};'
    f'DATABASE={database_name};'
    f'Trusted_Connection=yes;'
)

try:
    conn = pyodbc.connect(conn_str)
    cursor = conn.cursor()
    print("Successfully Connected to SQL Server!")

    cursor.execute("""
        IF OBJECT_ID('computers_office', 'U') IS NOT NULL
            DROP TABLE computers_office;

        CREATE TABLE computers_office (
            Name NVARCHAR(MAX),
            Price FLOAT,
            Reviews INT,
            URL NVARCHAR(MAX),
            Price_Segment NVARCHAR(50),
            Est_Revenue FLOAT,
            Loaded_Date DATETIME DEFAULT GETDATE()
        );
    """)
    conn.commit()

    print("Table 'computers_office' Created Successfully.")
    print(f"Inserting {len(df)} rows... Please wait.")

    for index, row in df.iterrows():
        cursor.execute("""
            INSERT INTO computers_office (Name, Price, Reviews, URL, Price_Segment, Est_Revenue)
            VALUES (?, ?, ?, ?, ?, ?)
        """,
            row['Name'],
            float(row['Price']),
            int(row['Reviews']),
            row['URL'],
            row['Price_Segment'],
            float(row['Est_Revenue'])
        )

    conn.commit()
    print("Data Dump Complete!")

    cursor.execute("SELECT COUNT(*) FROM computers_office")
    count = cursor.fetchone()[0]
    print(f"Total Rows in SQL Table 'computers_office': {count}")

except Exception as e:
    print(f"Error: {e}")
    print("Tip: Make sure Database 'Banggood' exists in SSMS.")

finally:
    if 'conn' in locals():
        conn.close()

Data Loaded: 37 rows from data/computers_office.csv
Index(['Name', 'Price', 'Reviews', 'URL', 'Price_Segment', 'Est_Revenue'], dtype='object')
Successfully Connected to SQL Server!
Table 'computers_office' Created Successfully.
Inserting 37 rows... Please wait.
Data Dump Complete!
Total Rows in SQL Table 'computers_office': 37

In [20]:
# Clean Data Load
csv_file = "data/men_women_clothing.csv"
df = pd.read_csv(csv_file)
print(f"Data Loaded: {len(df)} rows from {csv_file}")
print(df.columns)

# ====================================
# CLEAN NUMERIC COLUMNS BEFORE SQL
# ====================================
df['Price'] = pd.to_numeric(df['Price'], errors='coerce')
df['Reviews'] = pd.to_numeric(df['Reviews'], errors='coerce')

df[['Price','Reviews']] = df[['Price','Reviews']].fillna(0)
# ====================================

server_name = 'DELL-10TH'
database_name = 'Banggood'

conn_str = (
    f'DRIVER={{SQL Server}};'
    f'SERVER={server_name};'
    f'DATABASE={database_name};'
    f'Trusted_Connection=yes;'
)

try:
    conn = pyodbc.connect(conn_str)
    cursor = conn.cursor()
    print("Successfully Connected to SQL Server!")

    cursor.execute("""
        IF OBJECT_ID('men_women_clothing', 'U') IS NOT NULL
            DROP TABLE men_women_clothing;

        CREATE TABLE men_women_clothing (
            Name NVARCHAR(MAX),
            Price FLOAT,
            Reviews INT,
            URL NVARCHAR(MAX),
            Price_Segment NVARCHAR(50),
            Est_Revenue FLOAT,
            Loaded_Date DATETIME DEFAULT GETDATE()
        );
    """)
    conn.commit()

    print("Table 'men_women_clothing' Created Successfully.")
    print(f"Inserting {len(df)} rows... Please wait.")

    for index, row in df.iterrows():
        cursor.execute("""
            INSERT INTO men_women_clothing (Name, Price, Reviews, URL, Price_Segment, Est_Revenue)
            VALUES (?, ?, ?, ?, ?, ?)
        """,
            row['Name'],
            float(row['Price']),
            int(row['Reviews']),
            row['URL'],
            row['Price_Segment'],
            float(row['Est_Revenue'])
        )

    conn.commit()
    print("Data Dump Complete!")

    cursor.execute("SELECT COUNT(*) FROM men_women_clothing")
    count = cursor.fetchone()[0]
    print(f"Total Rows in SQL Table 'men_women_clothing': {count}")

except Exception as e:
    print(f"Error: {e}")
    print("Tip: Make sure Database 'Banggood' exists in SSMS.")

finally:
    if 'conn' in locals():
        conn.close()

Data Loaded: 37 rows from data/men_women_clothing.csv
Index(['Name', 'Price', 'Reviews', 'URL', 'Price_Segment', 'Est_Revenue'], dtype='object')
Successfully Connected to SQL Server!
Table 'men_women_clothing' Created Successfully.
Inserting 37 rows... Please wait.
Data Dump Complete!
Total Rows in SQL Table 'men_women_clothing': 37

In [21]:
# Clean Data Load
csv_file = "data/sports_outdoor.csv"
df = pd.read_csv(csv_file)
print(f"Data Loaded: {len(df)} rows from {csv_file}")
print(df.columns)

# ====================================
# CLEAN NUMERIC COLUMNS BEFORE SQL
# ====================================
df['Price'] = pd.to_numeric(df['Price'], errors='coerce')
df['Reviews'] = pd.to_numeric(df['Reviews'], errors='coerce')

df[['Price','Reviews']] = df[['Price','Reviews']].fillna(0)
# ====================================

server_name = 'DELL-10TH'
database_name = 'Banggood'

conn_str = (
    f'DRIVER={{SQL Server}};'
    f'SERVER={server_name};'
    f'DATABASE={database_name};'
    f'Trusted_Connection=yes;'
)

try:
    conn = pyodbc.connect(conn_str)
    cursor = conn.cursor()
    print("Successfully Connected to SQL Server!")

    cursor.execute("""
        IF OBJECT_ID('sports_outdoor', 'U') IS NOT NULL
            DROP TABLE sports_outdoor;

        CREATE TABLE sports_outdoor (
            Name NVARCHAR(MAX),
            Price FLOAT,
            Reviews INT,
            URL NVARCHAR(MAX),
            Price_Segment NVARCHAR(50),
            Est_Revenue FLOAT,
            Loaded_Date DATETIME DEFAULT GETDATE()
        );
    """)
    conn.commit()

    print("Table 'sports_outdoor' Created Successfully.")
    print(f"Inserting {len(df)} rows... Please wait.")

    for index, row in df.iterrows():
        cursor.execute("""
            INSERT INTO sports_outdoor (Name, Price, Reviews, URL, Price_Segment, Est_Revenue)
            VALUES (?, ?, ?, ?, ?, ?)
        """,
            row['Name'],
            float(row['Price']),
            int(row['Reviews']),
            row['URL'],
            row['Price_Segment'],
            float(row['Est_Revenue'])
        )

    conn.commit()
    print("Data Dump Complete!")

    cursor.execute("SELECT COUNT(*) FROM sports_outdoor")
    count = cursor.fetchone()[0]
    print(f"Total Rows in SQL Table 'sports_outdoor': {count}")

except Exception as e:
    print(f"Error: {e}")
    print("Tip: Make sure Database 'Banggood' exists in SSMS.")

finally:
    if 'conn' in locals():
        conn.close()

Data Loaded: 39 rows from data/sports_outdoor.csv
Index(['Name', 'Price', 'Reviews', 'URL', 'Price_Segment', 'Est_Revenue'], dtype='object')
Successfully Connected to SQL Server!
Table 'sports_outdoor' Created Successfully.
Inserting 39 rows... Please wait.
Data Dump Complete!
Total Rows in SQL Table 'sports_outdoor': 39